header {
    background-color: black;
    width: 100vw;
    position: fixed;
}

.logo img {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

body, main{
    width: 100%;
}
main {
    margin-top: 52px;
    margin-left: 200px;
}
.content{
    display: flex;
    width: 100%;
}

.side {
    width: 200px;
    height: 100%;
    background-color: #868686;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 52px;
}

.other-chat {
    background-color: white;
    color: black;
    border-radius: 3px;
    padding: 5px 0;
    margin: 20px 0;
    cursor: pointer;
    text-decoration-line: none;
}
.side a {
    text-decoration-line: none;
}
.deal_user{
    display: flex;
    padding: 5px;
    background-color: white;
    position: fixed;
    top: 52px;
    left: 200px;
    right: 0;
}

.title_content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_content form {
    margin-left: auto;
    margin-right: 20px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin: 10px 30px;
}

.circle img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.completed_btm {
    background-color: #FF8282;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.item_content{
    display: flex;
    padding: 10px;
    width: 100%;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    background-color: white;
    position: fixed;
    top: 130px;
    left: 200px;
}

.item_img {
    width: 150px;
    height: 150px;
    background-color: #d9d9d9;
}

.item_img img{
    width: 100%;
    height: 100%;
}

.item_detail {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.item_name {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.item_price {
    font-size: 20px;
}

.chat_content {
    height: 100%;
    margin-top: 250px;
    left: 200px;
}
.user_detail__img-name, .user_content__img-name {
    display: flex;
    align-items: center;
}

.user_content__img-name ,.user_content__user_message {
    display: flex;
    justify-content: right;
}

.user_name {
    font-weight: bold;
}

.user_message {
    width: 300px;
    background-color: #D9D9D9;
    margin: 10px;
    display: flex;
    align-items: center;
}

.user_message p {
    padding: 0px 20px;
}

.edit_action {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.edit_action form {
    margin: 0 10px;
    color: #868686;
    cursor: pointer;
}
.send_message {
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 200px;
    right: 0;
}
.send_message form{
    display: flex;
    align-items: flex-end;
    margin: 10px 20px;
}

.message-box {
    width: 90%;
    height: 30px;
    font-size: 18px;
}

.img_select-button{
    width: 130px;
}

.img_select-button::file-selector-button {
    width: 10px;
    height: 30px;
    opacity: 0;
    position: relative;
}

.img_select-button::before {
    position: absolute;
    content: "画像を追加";
    width: 130px;
    height: 30px;
    margin: 0 10px;
    font-weight: bold;
    color: #ff5555;
    background: white;
    font-size: 14px;
    border-radius: 3px;
    border: solid 1px #ff5555;
    text-align: center;
    align-items: center;
    display: grid;
    cursor: pointer;
}

.previewImage {
    height: 150px;
    width: 150px;
    margin-left: 10px;
    border: none;
}

.send-btm__group {
    display: flex;
    margin-left: 10px;
}

.send-btm__button {
    width: 40px;
    height: 40px;
    text-decoration: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

.send-btm__img {
    width: 40px;
    height: 40px;
}

.send-btm__img img {
    width: 100%;
    height: 100%;
}

