header {
    background-color: black;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.resend-message {
    background-color: #d9d9d9;
    color: black;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    margin: 70px auto 0;
    padding: 10px 10px;
    width: 250px;
}

.email-form__content {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    padding-top: 100px;
}

.email-form__content p {
    font-weight: bold;
}

.email-form__button {
    height: 50px;
    width: 150px;
    background-color: #56B4A2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 45px;
}

.email-form__button a {
    color: white;
    font-weight: bold;
    text-decoration-line: none;
}

.resend-link {
    margin-top: 20px;
    text-decoration-line: none;
    color: #0173cc;
    border: none;
    background-color: white;
}