.item-detail__group {
    margin: 30px auto;
    width: 60%;
}

.item-detail__group h1 {
    text-align: center;
}

.item-detail__group h2 {
    border-bottom: solid black 1px;
    color: #5f5f5f;
}

.item-detail__group p {
    font-weight: bold;
}

.item-detail__img-box {
    border: dashed #5f5f5f 1px;
    border-radius: 3px;
    height: 100px;
    line-height: 100px;
    text-align: center;
        margin: 0 auto;
}
.img_select-button {
    display: inline-block;
    margin: 0 auto;
}
.img_select-button::file-selector-button {
    width: 150px;
    height: 35px;
    opacity: 0;
    position: relative;
    margin: auto 0px;
}

.img_select-button::before {
    position: absolute;
    content: "画像を選択する";
    width: 250px;
    height: 35px;
    font-weight: bold;
    color: #ff5555;
    background: white;
    font-size: 14px;
    border-radius: 3px;
    border: solid 1px #ff5555;
    text-align: center;
    align-items: center;
    display: grid;
    cursor: pointer;
}

.item-condition, .item-detail input {
    width: 100%;
    height: 35px;
}

.item-detail textarea {
    width: 100%;
    height: 100px;
}

.item-sell__button button {
    width: 100%;
    height: 35px;
    color: white;
    background-color: #ff5555;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 45px;
    margin-bottom: 30px;
}

.category_content label {
    border: solid #ff5555 1px;
    color: #ff5555;
    font-size: 12px;
    align-items: center;
    border-radius: 10px;
    display: inline-block;
    padding: 0px 7px;
}

.category_content input {
    text-decoration-style: none;
    display: none;
}
input[type="checkbox"]:checked+label {
    background-color: #ff5555;
    color: white;
}



